@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Joel's obsession</h1>
    <p>This is Joel Hilton building Web apps with ASP.NET Core.</p>
    <img scr="../../wwwroot/joel.jpeg" />
</div>
