@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Joel's obsession:</h1>
    <h2>The Joel Hilton Film Collection</h2>
    <img src="~/img/joel.jpeg" height="400" alt="picture of joel"/>
</div>
