@{
    ViewData["Title"] = "Movies 'R Us";
}
<h1>@ViewData["Title"]</h1>

<h2>Enter in your Movie information here:</h2>
<ul>
    <li>
        Category
        <label for="Category">Select a Category:</label><br>
        <select id="category" name="category" size="3">
            <option value="Action/Adventure">Action/Adventure</option>
        </select>
    </li>
    <li>
        Title
        <form action="">
            <label for="Year">Year: </label>
            <input type="text" id="Year" name="Year"><br>
        </form>
    </li>
    <li>
        <form action="">
            <label for="Year">Year: </label>
            <input type="text" id="Year" name="Year" maxlength="25"><br>
        </form>
    </li>
    <li>
        <form action="">
            <label for="Director">Director: </label>
            <input type="text" id="Director" name="Director" maxlength="25"><br>
        </form>
    </li>
    <li>
        <label for="Rating">Select a rating:</label><br>
        <select id="rating" name="rating" size="3">
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select>
    </li>
    <li>
        <form action="" method="post">
            <input type="checkbox" name="Yes" value="True" /> Yes
            <input type="checkbox" name="No" value="False" /> No
        </form>
    </li>

    <li>LentTo</li>
    <li>
        Notes
        <form action="/action_page.php">
            <label for="Notes">Notes: </label>
            <input type="text" id="username" name="username" maxlength="25"><br>
        </form>
    </li>
</ul>
